<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Muscle Store</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <!-- <link rel='stylesheet'  href='../css/bootstrap.min.css'> -->
    <link rel="stylesheet" type='text/css'href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> 
    <script src='main.js'></script>
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
</head>
<body>
    <header>
        <div class="top">
            <div class="left_top">
                <ul>
                   <li>
                        <a href="">
                            <i class="fa-solid fa-shop"></i> 
                            Hệ thống cửa hàng
                        </a>
                    </li>
                    <li> 
                        <i class="fa-solid fa-square-phone"></i>
                        <p>Hotline <span>0965429363</span></p> 
                    <li> 
                        <a href="https://www.facebook.com/wheystore.vn">
                            <i class="fa-brands fa-square-facebook"></i>
                            Fanpage
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right_top">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa-regular fa-rectangle-list"></i>
                            Theo dõi đơn
                        </a>
                    </li>
                     <li>   
                            <i class="fa-solid fa-earth-asia"></i>
                            <select>
                                <option value="VN">Việt Nam</option>
                                <option value="ENG">English</option>
                            </select> </li>
                    <li>
                        <a href="/layout/login.html">
                            <i class="fa-regular fa-user"></i>
                            Đăng nhập
                        </a>
                    </li>
                    <div class="gach_dung"></div>
                    <li>
                        <a href="/layout/signup.html">
                            Đăng ký
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="head_menu">
            <div class="logo">
                <div></div>
                <div class="cotainer_logo"><a href="/layout/index.html"><img src="/img/logo_image_1587131466.png" alt="" width="100%"></a></div>
                <div></div>
            </div>
            <div class="search">
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a> 
                <input type="text" name="search" id="" placeholder="Tìm kiếm sản phẩm...">
            </div>
            <div class="cart">
                <a href="">Giỏ hàng
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="number">0</div>
                </a>
               
            </div>
        </div>
    </header>

    <div class="container_menu">
            <ul>
                <li><a href=""><i class="fa-solid fa-house"></i></a></li>
                <li class="list_product"><a href="/layout/product_1.html">Sữa tăng cân</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                
                </li>

                <li class="list_product"><a href="">Whey Protein</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                
                </li>

                <li class="list_product"><a href="">BCAAs, EAAs</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                </li>

                <li class="list_product"><a href="">Pre-Workout, Creatin</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                </li>

                <li class="list_product"><a href="">Vitamin, Khoáng chất</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                </li>

                <li class="list_product"><a href="">Giảm mỡ</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                </li>

                <li class="list_product"><a href="">Phụ kiện</a>
                    <ul>
                        <li><a href="">Tăng cân nhanh</a></li>
                        <li><a href="">Tăng cân nạc</a></li>
                    </ul>
                </li>
            </ul>
    </div>


    <div class="slider">
       <div><img src="/img/bn1.jpg" alt="" width="100%"></div>
       <div><img src="/img/bn2.jpg" alt="" width="100%"></div>
       <div><img src="/img/bn3.jpg" alt="" width="100%"></div>
       <div><img src="/img/bn4.jpg" alt="" width="100%"></div>
       <div><img src="/img/bn5.jpg" alt="" width="100%"></div>
       <div><img src="/img/bn6.jpg" alt="" width="100%"></div>
    </div>
    <div class="slider_product">
        <div class="item">
            <a href=""> <img src="/img/bn_product_1.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_2.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_3.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_4.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_5.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_6.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>

        <div class="item">
            <a href=""> <img src="/img/bn_product_7.png" alt="" width="100%"> </a>
            <a href=""><p>Tăng cơ</p> </a>
        </div>
        
    </div>

    <main>

        <div class="container_product">
            <div class="header_product">
                <div class="title">
                    <h3> <i class="fa-solid fa-bolt"></i> FLASH SALE  <i class="fa-solid fa-bolt"></i></h3>
                </div>
                <div class="menu_product">
                    <ul>
                        <li><a href="">Loại 1</a></li>
                        <li><a href="">Loại 2</a></li>
                        <li><a href="">Loại 3</a></li>
                        <li><a href="">Xem tất cả 
                            <i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list_item">
                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

            </div>
        </div>

        <div class="container_product">
            <div class="header_product">
                <div class="title">
                    <h3> <i class="fa-solid fa-bolt"></i> FLASH SALE  <i class="fa-solid fa-bolt"></i></h3>
                </div>
                <div class="menu_product">
                    <ul>
                        <li><a href="">Loại 1</a></li>
                        <li><a href="">Loại 2</a></li>
                        <li><a href="">Loại 3</a></li>
                        <li><a href="">Xem tất cả 
                            <i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list_item">
                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

            </div>
        </div>

        <div class="container_product">
            <div class="header_product">
                <div class="title">
                    <h3> <i class="fa-solid fa-bolt"></i> FLASH SALE  <i class="fa-solid fa-bolt"></i></h3>
                </div>
                <div class="menu_product">
                    <ul>
                        <li><a href="">Loại 1</a></li>
                        <li><a href="">Loại 2</a></li>
                        <li><a href="">Loại 3</a></li>
                        <li><a href="">Xem tất cả 
                            <i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list_item">
                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

            </div>
        </div>

        <div class="container_product">
            <div class="header_product">
                <div class="title">
                    <h3> <i class="fa-solid fa-bolt"></i> FLASH SALE  <i class="fa-solid fa-bolt"></i></h3>
                </div>
                <div class="menu_product">
                    <ul>
                        <li><a href="">Loại 1</a></li>
                        <li><a href="">Loại 2</a></li>
                        <li><a href="">Loại 3</a></li>
                        <li><a href="">Xem tất cả 
                            <i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list_item">
                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

            </div>
        </div>

        <div class="container_product">
            <div class="header_product">
                <div class="title">
                    <h3> <i class="fa-solid fa-bolt"></i> FLASH SALE  <i class="fa-solid fa-bolt"></i></h3>
                </div>
                <div class="menu_product">
                    <ul>
                        <li><a href="">Loại 1</a></li>
                        <li><a href="">Loại 2</a></li>
                        <li><a href="">Loại 3</a></li>
                        <li><a href="">Xem tất cả 
                            <i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list_item">
                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

                <div class="item_product">
                    <a href="">
                        <img src="/img/product_banchay.jpg" alt="" width="100%">
                     </a>
                     <a href="" class="title">  <p>Tên sản phẩm Tên sản phẩm Tên sản phẩm</p> </a>
                    <div class="product_reviews">
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>  
                        <i class="fa-regular fa-star"></i>
                    </div>
                   
                    <p class="price">1.800.000đ</p>
                </div>

            </div>
        </div>

        <div class="container_news">
            <div class="header_news">
                <div class="gach"></div>
                <div class="title_new">
                    <h3>TIN TỨC</h3>
                </div>
                <div class="gach"></div>
            </div>
            <div class="news">
                <div class="hot_news">
                    <a href="">
                        <img src="/img/news_1.jpg" alt="" width="100%">
                    </a>
                </div>
                    <div class="list_news">
                        <div class="item_news">
                            <div class="img_news">
                                <a href="">
                                    <img src="/img/news_1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="content_news">
                                <a href=""> THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN</a>
                                <p> <i class="fa-regular fa-clock"></i> Thứ hai 16/01/2023 <i class="fa-solid fa-comments"></i>(0) bình luận </p>
                            </div>
                        </div>
    
                        <div class="item_news">
                            <div class="img_news">
                                <a href="">
                                    <img src="/img/news_1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="content_news">
                                <a href=""> THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN</a>
                                <p> <i class="fa-regular fa-clock"></i> Thứ hai 16/01/2023 <i class="fa-solid fa-comments"></i>(0) bình luận </p>
                            </div>
                        </div>
    
                        <div class="item_news">
                            <div class="img_news">
                                <a href="">
                                    <img src="/img/news_1.jpg" alt="" width="100%">
                                </a>
                            </div>
                            <div class="content_news">
                                <a href=""> THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN THÔNG BÁO LỊCH NGHỈ TẾT NGUYÊN ĐÁN</a>
                                <p> <i class="fa-regular fa-clock"></i> Thứ hai 16/01/2023 <i class="fa-solid fa-comments"></i>(0) bình luận </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <a href="" class="showmore_news">Xem thêm</a>
        </div>
    </main>

    

    <footer>
        <div class="container_footer">
            <div class="company">
            <ul>
                <li>
                    <h3>giới thiệu chung</h3>
                </li>

                <li>
                    <a href=""> 
                        CÔNG TY TNHH MUSCLE STORE
                    </a>
                </li>

                <li>
                    <a href=""> 
                        Hệ thống cửa hàng trên toàn quốc
                    </a>
                </li>

                <li>Email: Dinh nguyen0303@gmail.com</li>
                <li>Giờ làm việc: 09.am ~ 08.pm</li>
                <li>Hotline: <span> 0965429363</span></li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59592.882658025206!2d105.78090413033165!3d21.010461217935134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abaa079a6053%3A0xd2649b7e580e7b4c!2zV0hFWVNIT1AuVk4gLSAzMzYgTEEgVEjDgE5ILCDEkOG7kE5HIMSQQSwgSMOAIE7hu5hJ!5e0!3m2!1svi!2s!4v1675063409705!5m2!1svi!2s" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                </li>
            </ul>
            </div>

            <div class="sevice">
                <ul>

                    <li>
                        <h3>hỗ trợ khách hàng</h3>
                    </li>
                    <li>
                        <a href="">  Hướng dẫn đặt hàng</a>
                    </li>
        
                    <li>
                        <a href="">  Hướng dẫn thanh toán </a>
                    </li>
                    
                    <li>
                        <a href="">  Chính sách bảo hành </a>
                    </li>

                    <li>
                        <a href="">  Chính sách bảo mất </a>
                    </li>
                    
                    <li>
                        <a href="">  Chính sách đổi hàng </a>
                    </li>
                    <li>
                        <b>Chấp nhận thanh toán:</b> 
                
                            <img src="/img/pay_1.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="info">
                <ul>

                    <li>
                        <h3>thông tin cần biết</h3>
                    </li>
                    <li>
                        <a href="">  Kiểm tra tích điểm</a>
                    </li>
        
                    <li>
                        <a href="">  Chương trình khuyến mại </a>
                    </li>
                    
                    <li>
                        <a href="">  Kiến thức tập Gym </a>
                    </li>
                    
                    <li>
                        <a href="">  Chế độ dinh dưỡng </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="contact">
            <ul>
                <li>
                    <h3>THeo dõi chúng tôi</h3>
                </li>
                <li>
                    <a href="/layout/index.html"> 
                        <img src="/img/logo_image_1587131466.png" alt="" width="80%"> 
                    </a>
                </li>
    
                <li>
                    <div class="logo_social">
                        <a href="https://www.facebook.com/wheystore.vn"> <img src="/img/facebook.jpg" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/Instagram.jpg" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/yuotube.png" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/tiktok200x200.png" alt="" width="15%"> </a>
                    </div>
                </li>
               
              
              </ul>
        </div>

    </footer>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/jquery-3.6.2.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script>
        $('.slider').slick({
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow:1,
            cssEase: 'linear',
        });

        $('.slider_product').slick({
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    slidesToShow:6,
                    cssEase: 'linear',
        });
        $('.list_item').slick({
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    slidesToShow:4,
                    cssEase: 'linear',
        });
        
    </script>
</body>
</html>