<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đăng nhập</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main_login.css'>
    <!-- <link rel='stylesheet'  href='../css/bootstrap.min.css'> -->
    <link rel="stylesheet" type='text/css'href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> 
    <script src='main.js'></script>
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
</head>
<body>
    <header>
        <div class="top">
            <div class="left_top">
                <ul>
                    <li>
                        <a style="padding:5px 10px 0px 10px; " href="/layout/index.html"> <img src="/img/logo_image_1587131466.png" alt="" width="100px"> </a>
                    </li>   
                    <li>
                        <a href="">
                            <i class="fa-solid fa-shop"></i> 
                            Hệ thống cửa hàng
                        </a>
                    </li>
                    <li> 
                        <i class="fa-solid fa-square-phone"></i>
                        <p>Hotline <span>0965429363</span></p> 
                    <li> 
                        <a href="https://www.facebook.com/wheystore.vn">
                            <i class="fa-brands fa-square-facebook"></i>
                            Fanpage
                        </a>
                    </li>
                    <li>   
                        <i class="fa-solid fa-earth-asia"></i>
                        <select>
                            <option value="VN">Việt Nam</option>
                            <option value="ENG">English</option>
                        </select> </li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="content">
         <div class="login">
            <div class="title">
                <h2>Đăng nhập</h2>
            </div>
            <form action="" method="get">
                <div class="row">
                    <label>Tên đăng nhập</label> <br>
                    <input type="text" placeholder="Số điện thoại / Email">
                </div>
                <div class="row">
                    <label>Mật khẩu</label> <br>
                    <input type="password" class="password" placeholder="Nhập mật khẩu">
                </div>
                <a href="">Quên mật khẩu? </a>
                <div class="row btn">
                    <button class="btn_login">Đăng nhập</button>
                </div>
                <div class="container_line">
                        <div class="line"></div>
                        <div class="title">
                            <p>OR</p>
                        </div>
                        <div class="line"></div>
                </div>

                <div class="connect">
                       <div class="facebook">
                            <a href="">
                                <img src="/img/fb_tron.png" alt="" width="20%">
                                <p>Facebook</p>
                            </a>  
                       </div> 
                       <div class="facebook">
                        <a href="">
                            <img src="/img/Google__G__Logo.svg.png" alt="" width="20%">
                            <p>Google</p>
                        </a>  
                   </div> 
                </div>
            </form>
            <div class="row">
                <p> Bạn chưa có tài khoản hãy <a href="/layout/signup.html">Đăng ký</a></p>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container_footer">
            <div class="company">
            <ul>
                <li>
                    <h3>giới thiệu chung</h3>
                </li>

                <li>
                    <a href=""> 
                        CÔNG TY TNHH MUSCLE STORE
                    </a>
                </li>

                <li>
                    <a href=""> 
                        Hệ thống cửa hàng trên toàn quốc
                    </a>
                </li>

                <li>Email: Dinh nguyen0303@gmail.com</li>
                <li>Giờ làm việc: 09.am ~ 08.pm</li>
                <li>Hotline: <span> 0965429363</span></li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59592.882658025206!2d105.78090413033165!3d21.010461217935134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abaa079a6053%3A0xd2649b7e580e7b4c!2zV0hFWVNIT1AuVk4gLSAzMzYgTEEgVEjDgE5ILCDEkOG7kE5HIMSQQSwgSMOAIE7hu5hJ!5e0!3m2!1svi!2s!4v1675063409705!5m2!1svi!2s" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                </li>
            </ul>
            </div>

            <div class="sevice">
                <ul>

                    <li>
                        <h3>hỗ trợ khách hàng</h3>
                    </li>
                    <li>
                        <a href="">  Hướng dẫn đặt hàng</a>
                    </li>
        
                    <li>
                        <a href="">  Hướng dẫn thanh toán </a>
                    </li>
                    
                    <li>
                        <a href="">  Chính sách bảo hành </a>
                    </li>

                    <li>
                        <a href="">  Chính sách bảo mất </a>
                    </li>
                    
                    <li>
                        <a href="">  Chính sách đổi hàng </a>
                    </li>
                    <li>
                        <b>Chấp nhận thanh toán:</b> 
                
                            <img src="/img/pay_1.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="info">
                <ul>

                    <li>
                        <h3>thông tin cần biết</h3>
                    </li>
                    <li>
                        <a href="">  Kiểm tra tích điểm</a>
                    </li>
        
                    <li>
                        <a href="">  Chương trình khuyến mại </a>
                    </li>
                    
                    <li>
                        <a href="">  Kiến thức tập Gym </a>
                    </li>
                    
                    <li>
                        <a href="">  Chế độ dinh dưỡng </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="contact">
            <ul>
                <li>
                    <h3>THeo dõi chúng tôi</h3>
                </li>
                <li>
                    <a href="/layout/index.html"> 
                        <img src="/img/logo_image_1587131466.png" alt="" width="80%"> 
                    </a>
                </li>
    
                <li>
                    <div class="logo_social">
                        <a href="https://www.facebook.com/wheystore.vn"> <img src="/img/facebook.jpg" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/Instagram.jpg" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/yuotube.png" alt="" width="15%"> </a>
                        <a href=""> <img src="/img/tiktok200x200.png" alt="" width="15%"> </a>
                    </div>
                </li>
               
              
              </ul>
        </div>

    </footer>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/jquery-3.6.2.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>

</body>
</html>